@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;
  --background-start-rgb: 20, 42, 85;
  /* --background-start-rgb: 35, 53, 72; */
  --background-end-rgb: 15, 23, 42;
  /* --background-end-rgb: 185, 103, 122; */
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 53, 72;
    --background-end-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.background {
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image: linear-gradient(0deg, rgb(var(--background-end-rgb)) 0%, rgb(var(--background-start-rgb)) 50%, rgb(var(--background-end-rgb)) 100%);
    z-index: -1;
}

.custom-position {
  object-position: 60% -3px;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.animation, a {
  transition: all 200ms ease-in-out;
}
