@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 10, 10, 20;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-position {
  object-position: 60% -3px;
}

.logo {
  width: fit-content;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3498db;
  background-color: #ecf0f1;
  padding: 10px 14px ;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* transform: rotate(-15deg); */
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
